
<!-- <div class="imagebackground" data-vide-bg="video/patient"> -->
  <div class="center-container">
    <h1 class="header-w3ls">DoctoWorld</h1>

    <div class="content-top">
      <div class="content-w3ls">
        <form action="#" method="post">
        <div class="form-w3ls">

            <div class="content-wthree1">
              <div class="grid-agileits1">
                <div class="form-control">
                  <!-- <label class="header">Name <span>*</span></label> -->
                  <input type="text" id="name" name="name" placeholder="DoctorId" title="Please enter your Id " required="">
                </div>
              </div>
            </div>
        </div>
        <div class="form-w3ls-1">

              <div class="form-control">
                <!-- <label class="header">Address <span>*</span></label> -->
                <input type="password" id="name" name="name" placeholder="Password" title="Please enter your Password" required="">
              </div>
              <div class="wthreesubmitaits">
                <input type="submit" name="submit" value="Submit">
              </div>

        </div>
      </form>
      </div>

    </div>

  </div>
  <!-- <p class="copyright">© 2020. All Rights Reserved | Design by <a href="javascript:void(0);" target="_blank">Sitcom Technology</a></p> -->
<!-- </div> -->

