<router-outlet></router-outlet>
<section class="w3l-workinghny-form" style="background-image: url(assets/patient.jpg);">
  <!-- /form -->
  <div class="workinghny-form-grid">
      <div class="wrapper">
          <div class="logo">
              <h3><a class="brand-logo">Welcome to DoctoWorld</a></h3>
              <!-- if logo is image enable this
                  <a class="brand-logo" href="#index.html">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                  </a> -->
          </div>
          <div class="workinghny-block-grid">
              <div class="workinghny-left-img align-end">
                  <img src="assets/doctoworldlogo.jpeg" class="img-responsive" alt="img" />
              </div>
              <div class="form-right-inf">

                  <div class="login-form-content">
                      <!-- <h2>Where to?</h2> -->
                      <form  [formGroup]="adminLoginForm" class="signin-form">
          <div class="one-frm">

            <label>Doctor Id</label>
            <input type="text" name="Name"  placeholder="" required="" formControlName="doctorid">
          </div>
          <div class="one-frm">
            <label>Password</label>
            <input type="password" name="Password"  placeholder="" required="" formControlName="passwrd">
          </div>
                          <label class="check-remaind">
                              <input type="checkbox">
                              <!-- <span class="checkmark"></span> -->
                              <!-- <p class="remember">Remember Me</p> -->

                          </label>
                          <button class="btn btn-style mt-3" (click)="movetodashboard()">Sign In </button>
                          <!-- <p class="already">Don't have an account? <a href="#signin">Sign Up</a></p> -->
                      </form>
                      <div class="msg">{{this.loginuserMessage?.message}}</div>
                      <!-- <div class="msg">Login successfully...</div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- //form -->
  <!-- copyright-->
  <div class="copyright text-center">
      <div class="wrapper">
          <p class="copy-footer-29">© 2020 DoctoWorld Admin</p>
      </div>
  </div>
  <!-- //copyright-->
</section>
