.w3l-workinghny-form {
  background-image: url("/assets/patient.jpg");
  /* background-color: aqua; */
  /* background: #B2FEFA;
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
background: linear-gradient(to right, #0ED2F7, #B2FEFA);  */
}
img.img-responsive {
  padding-bottom: 118px;
}
